{% macro loop(pages, config) %}
    {% for p in pages.children.visible %}
        {% set page_active_class = (p.active) ? ' navbar-item-active' : '' %}
        {% if p.children.visible.count > 0 and config.theme.general.navbar_dropdown.enabled %}
            <div class="navbar-dropdown">
                <a class="navbar-item{{ page_active_class|e }}" href="{{ p.url|e }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
                    {{ p.menu|e }} <i class="fa fa-caret-down"></i>
                </a>
                <div class="navbar-dropdown-content">
                    {{ _self.loop(p) }}
                </div>
            </div>
        {% else %}
            <a class="navbar-item{{ page_active_class|e }}" href="{{ p.url|e }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
                {{ p.menu|e }}
            </a>
        {% endif %}
    {% endfor %}
    {% for mitem in config.site.menu %}
        <a class="navbar-item" href="{{ mitem.url|e }}">
            {% if mitem.icon %}<i class="fa fa-{{ mitem.icon|e }}"></i>{% endif %}
            {{ mitem.text|e }}
        </a>
    {% endfor %}
{% endmacro %}

<div class="navbar">
    <nav class="navbar-elements">
        <div class="navbar-brand">
            <a href="{{ home_url }}">
                {% if theme.custom_logo %}
                    {% set logo_file = (theme.custom_logo|first).name %}
                    <img class="navbar-logo" src="{{ url('theme://images/custom-logos/' ~ logo_file) }}">
                {% else %}
                    <img class="navbar-logo" src="{{ url('theme://images/Logo_White-Tr_256.png') }}">
                {% endif %}
            </a>

            <a class="navbar-title" href="{{ home_url }}">{{ site.title|e }}</a>
        </div>
        <div class="navbar-toggler">
            <span class="navbar-toggle-button"><i class="fas fa-bars"></i></span>
        </div>
        <div class="navbar-items">
            {{ _self.loop(pages, config) }}
        </div>
    </nav>
</div>
